nav ul a,
nav .brand-logo {
  color: rgb(36, 163, 136);
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #223880;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(2, 2, 2, 0.212);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.fab  {
  
  padding: 0 15px;
}
